.squareBox {
  /* box-shadow: 0px 3px 5px grey; */
  transition: box-shadow 0.3s;
  /* transition: top ease 0.3s; */
}
.squareBox:hover {
  cursor: pointer;
  /* top: -10px; */
  box-shadow: 0 5px 7px grey;
}

.tooltip {
  /* padding: 8px 16px;
    border-radius: 3px;
    font-size: 90%; */
  width: max-content;
  max-width: 500px;
}
