.projects-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.project-list-container {
  display: flex;
  flex: 1;
}

.project-page-content-row {
  width: 100vw;
  display: flex;
  flex: 1;
  margin-top: 70px;
  justify-content: center;
  padding-bottom: 0.5em;
}
